// Bootstrap Overrides
$body-bg: #EEF5FB;
$body-color: #333;
$primary: #8C0AC8;
$font-size-base: 0.9rem;

// Bootstrap Import
@import "bootstrap/bootstrap.scss";
// ========================================================================
// Site Styles ============================================================
// ========================================================================

$siteBoxShadow: 0 .125rem .25rem rgba(red($primary), green($primary), blue($primary), .075);
$completedStepColor: #ACFF99;

body {
    font-family: arial,sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.2em;
    font-weight: 800;
}

.bg-gray {
    background-color: #E8EAED;
}

.btn-outline-primary {
    background-color: $white;
    border-color: $border-color;
}

form {
    section {
        padding-bottom: 0.75em;

        h2 {
            padding: 0.5em 0.75em;
            margin: 0;
        }

        .row {
            margin: 0.3em;
        }
    }

    .btn {
        box-shadow: $siteBoxShadow !important;
    }

    .form-control,
    .form-select {
        background-color: $white;
        box-shadow: $siteBoxShadow !important;
        border-width: 2px !important;

        &:focus {
            background-color: $white;
        }
    }

    .form-select {
        background-position: right 0.2rem center;
        background-size: 16px 8px;
    }

    .form-label {
        margin: 0.35rem 0;
    }

    .input-group .iti {
        width: 100%;
    }

    .site-navigation {
        .btn {
            min-width: 120px;
            //font-weight: bold;
        }
    }

    .site-phone-country-code {
        flex: 0 0 30% !important;
    }

    .site-progress {
        //padding: 0 3em;
        width: 80%;
        margin: 3em auto 1em auto;

        .progress {
            height: 1px;
        }

        a {
            cursor: pointer;
            text-decoration: none;
            color: $body-color;
        }

        .progress-step {
            display: flex;
            position: absolute !important;
            top: 0 !important;
            transform: translate(-50%,-88%) !important;
            flex-direction: column;
            gap: 4px;
            align-items: center;
            font-size: 0.85em;

            .progress-step-name {
                width: 50px;
                height: 40px;
                text-align: center;
                vertical-align: unset;
            }

            .progress-step-bullet {
                text-align: center;
                font-weight: bold;
                width: 1.2em;
                height: 1.2em;
                background-color: $white;
                border-radius: 50%;
                box-shadow: $siteBoxShadow !important;
                color: transparent;
            }

            &.active {
                .progress-step-name {
                    font-weight: bold;
                }

                .progress-step-bullet {
                    background-color: $primary;
                }
            }

            &.completed {
                .progress-step-name {
                    color: $primary;
                }

                .progress-step-bullet {
                    background-color: $completedStepColor;
                    color: $form-text-color;
                }
            }
        }
    }

    .shadow-sm {
        box-shadow: $siteBoxShadow !important;
    }
}

@include media-breakpoint-up(md) {
    form .site-progress .progress-step {
        font-size: 1em;
        transform: translate(-50%,-75%) !important;

        .progress-step-name {
            width: unset;
            height: unset;
            width: 120px;
        }

        .progress-step-bullet {
            width: 1.5em;
            height: 1.5em;
        }
    }
}
